<<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="/animo" method="post"> 
    <label for="UserName">UserName</label>
    <input type="text" class="form-control" name="username" id="username"/>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password"/>
    
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>